nav {
    background-color: darkgreen;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    opacity: 0.1;
    background-color: white;
    color: #333;
}

.logo img {
    vertical-align: middle;
    margin-right: 10px;
}